<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="https://www.creative-sols.com/webassets/images/cs-images/logo-dark.png" alt="Creative Solutions logo1" class="db w4 center mb4 br0">
		<!--	<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			 <p>Get the latest updates from Creative Solutions blog directly to your inbox.</p>

			{{ partial "newsletter-form" . }} -->

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Business Suite</h3>
				<ul class="mb3">					
					<li><a href="https://www.creative-sols.com/execution-planner-software" class="link" target="_blank">Execution Planner Software</a></li>
					<li><a href="https://www.creative-sols.com/attendance-management-system" class="link" target="_blank">Attendance Management System</a></li>
					<li><a href="https://www.creative-sols.com/outlet-management-software" class="link" target="_blank">Outlet Management System</a></li>
					<li><a href="https://www.creative-sols.com/information-center-software" class="link" target="_blank">Information Center Software</a></li>
					<li><a href="https://www.creative-sols.com/help-desk-management-software" class="link" target="_blank">Helpdesk Management System</a></li>
					<li><a href="https://www.creative-sols.com/document-management-system" class="link" target="_blank">Document Management System</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">About Creative Solutions</h3>
				<ul class="mb3">
					<li><a href="https://www.creative-sols.com/about-us" target="_blank" class="link">About us</a></li>
					<li><a href="https://www.creative-sols.com/contact-us" target="_blank" class="link">Contact Us</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/creativesolutionsksa" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.twitter.com/creative_sols" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/creativesolutionsksa" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "https://www.linkedin.com/company/creative-sols" "svg" "icons-linkedin") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
